.IRCBold{font-weight: bold;}
.IRCUnderline{text-decoration:underline;}
.IRCItalic{font-style:italic;} 
.IRCWhite{color:white;} 
.IRCBlack{color:black;} 
.IRCDarkBlue{color:darkblue;} 
.IRCDarkGreen{color:darkgreen;} 
.IRCLightRed{color:lightred;} 
.IRCDarkRed{color:darkred;} 
.IRCMagenta{color:magenta;} 
.IRCOrange{color:orange;} 
.IRCYellow{color:yellow;} 
.IRCLightGreen{color:lightgreen;} 
.IRCCyan{color:cyan;} 
.IRCLightCyan{color:lightcyan;} 
.IRCLightBlue{color:lightblue;}, 
.IRCLightMagenta{color:orchid;} 
.IRCGray{color:gray;} 
.IRCLightGray{color:lightgray;}
.IRCRed{color:red;}
.IRCGreen{color:green;}
