body
{
font-family:arial;
background-color:#151515;
}
h1
{
margin-left:auto;
margin-right:auto;
width:100%;
color:black;
}
.scrollable
{
height:80vh;
overflow-y: auto;
}
#chat img {max-height:140px; width:auto}

table{
vertical-align:top;
}
tr{
vertical-align:top;
}
td{
vertical-align:top;
}
div.channel_header
{
margin-left:auto;
margin-right:auto;
width:100%;
color:black;
background-color:#FFC000;
}
.IRCChannelName
{
color: #FFC000;
font-family:arial;
vertical-align:text-top;
font-size: 24pt;
}
.IRCChannelTopic
{
color: white;
font-family:arial;
vertical-align:text-top;
font-size: 12pt;
}
.chans{
color: #FFC000;
font-family:arial;
vertical-align:text-top;
font-size: 12pt;
}
.nick {
color: #FFC000;
font-family:arial;
vertical-align:text-top;
text-align: right;
font-size: 12pt;
}
.timestamp {
color : white;
font-family:arial;
vertical-align:text-top;
font-size: 12pt;
}
.spoke {
color : white;
font-family:arial;
vertical-align:text-top;
font-size: 12pt;
}
