.IRCBold{font-weight: bold;}
.IRCUnderline{text-decoration:underline;}
.IRCItalic{font-style:italic;}
.IRCForegroundColorWhite{color:white;}
.IRCForegroundColorBlack{color:black;};
.IRCForegroundColorDarkBlue{color:darkblue;}
.IRCForegroundColorDarkGreen{color:darkgreen;};
.IRCForegroundColoCLightRed{color:lightred;}
.IRCForegroundColorDarkRed{color:darkred;}
.IRCForegroundColorMagenta{color:magenta;}
.IRCForegroundColorOrange{color:orange;}
.IRCForegroundColorYellow{color:yellow;}
.IRCForegroundColorLightGreen{color:lightgreen;} 
.IRCForegroundColorCyan{color:cyan;}
.IRCForegroundColorLightCyan{color:lightcyan;}
.IRCForegroundColorLightBlue{color:lightblue;}
.IRCForegroundColorLightMagenta{color:orchid;}
.IRCForegroundColorGray{color:gray;}
.IRCForegroundColorLightGray{color:lightgray;}
.IRCForegroundColorRed{color:red;}
.IRCForegroundColorGreen{color:green;}

.IRCBackgroundColorWhite{background-color:white;}
.IRCBackgroundColorBlack{background-color:black;}
.IRCBackgroundColorDarkBlue{background-color:darkblue;}
.IRCBackgroundColorDarkGreen{background-color:darkgreen;}
.IRCBackgroundColoCLightRed{background-color:lightred;}
.IRCBackgroundColorDarkRed{background-color:darkred;}
.IRCBackgroundColorMagenta{background-color:magenta;}
.IRCBackgroundColorOrange{background-color:orange;}
.IRCBackgroundColorYellow{background-color:yellow;}
.IRCBackgroundColorLightGreen{background-color:lightgreen;}
.IRCBackgroundColorCyan{background-color:cyan;}
.IRCBackgroundColorLightCyan{background-color:lightcyan;}
.IRCBackgroundColorLightBlue{background-color:lightblue;}
.IRCBackgroundColorLightMagenta{background-color:orchid;}
.IRCBackgroundColorGray{background-color:gray;}
.IRCBackgroundColorLightGray{background-color:lightgray;}
.IRCBackgroundColorRed{background-color:red;}
.IRCBackgroundColorGreen{background-color:green;}

